@use "sass:meta";
@use "../../../styles/layout/button";
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
    transform: translateY(0) scaleY(1) scaleX(1) translateZ(0)
  }

  10% {
    -webkit-transform: translateY(0) scaleY(1.2) scaleX(1.2) translateZ(0);
    transform: translateY(0) scaleY(1.2) scaleX(1.2) translateZ(0);
    opacity: 1
  }

  to {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(.5) translateZ(0);
    transform: translateY(20px) scaleY(2.5) scaleX(.5) translateZ(0);
    opacity: .01
  }
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/cover.jpeg");
  background-size: cover;
  row-gap: 5vh;
  &__textBlock {
    //width: some value;
    &__mainText, &__subText{
      text-align: center;
      color: white;
    }
    //&__mainText {
    //  font-weight: bold;
    //}
  }
  &__actions {
    &__primaryActionButton {
      @extend .button;
      font-size: 1rem;
    }
  }
  &__pointer {
    @media screen and (max-width: 768px){
      display: none;
    }
    cursor: pointer;
    position: absolute;
    bottom: 15vh;
    left: 50%;
    width: 26px;
    height: 42px;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 26px;
    &:after {
      position: absolute;
      top: 5px;
      left: 50%;
      width: 4px;
      height: 4px;
      margin-left: -2px;
      content: '';
      animation: scroll 1.5s -1s cubic-bezier(.68, -.55, .265, 1.55) infinite;
      opacity: 1;
      border-radius: 100%;
      background-color: #fff;
    }
  }
  &__waves {
    position: absolute;
    //overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 60px;
    max-height: 60px;
    &__parallax--1 > use {
      animation: move-forever1 10s linear infinite;
      &:nth-child(1) {
        animation-delay: -2s;
      }
    }
    &__parallax--2 > use {
      animation: move-forever2 8s linear infinite;
      &:nth-child(1) {
        animation-delay: -2s;
      }
    }
    &__parallax--3 > use {
      animation: move-forever3 6s linear infinite;
      &:nth-child(1) {
        animation-delay: -2s;
      }
    }
    &__parallax--4 > use {
      animation: move-forever4 4s linear infinite;
      &:nth-child(1) {
        animation-delay: -2s;
      }
    }
  }
}