@use "../../../styles/layout/lib";
@use "../../../styles/layout/link";
@mixin icon($r, $g, $b, $a){
  background-color: rgb($r, $g, $b, $a);
  box-shadow: 0 0 24px rgba($r, $g, $b, 0.2);
}

.features{
  padding: 30px 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  &__container{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 30px;
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      max-width: 300px;
      h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
        a {
          @extend .link;
          color: #361158;
          &:hover {
            color: lib.$myBlue;
          }
        }
      }
      p{
       color: #6b5184;
        font-size: 16px;
        line-height: 1.75;
      }
      &__icon{
        $size: 28px;
        width: $size;
        height: $size;
        color: white;
        padding: 12px;
        border-radius: 4px;
        &--app {
          @include icon(244, 97, 193, 0.96);
        }
        &--design{
          @include icon(250, 104, 88, 0.98);
        }
        &--development{
          @include icon(222, 78, 99, 0.87);
        }
        &--promotion{
          @include icon(210, 78, 222, 0.87);
        }
      }
    }
  }
}