@use "./fonts/fonts";
@use "./layout/button";
@use "./layout/link";
@use "./layout/input";
@use "./layout/lib";
* {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  &::selection{
    background-color: rgba(210, 78, 222, 0.1);
  }
}
body, html {
  padding: 0;
  margin: 0;
}

.searchArea {
  margin-top: 68px;
}
.about, .contact, .disclaimer, .privacy, .pageNotFound{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @include lib.PostPaddingWidth;
}

.contact {
  .footer__main__contactInfo{
    .link {
      color: #616161;
      &:hover{
        color: lib.$linkHover;
      }
    }
  }
  .footer__main__contactForm{
    input, textarea {
      background-color: rgba(0, 0, 0, 0.025);
      border: 1px solid rgba(0, 0, 0, 0.05);
      color: black;
    }
  }
}