@use "../../../styles/layout/lib";
@use "../../../styles/layout/link";
.header{
  position: fixed;
  background-color: black;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  z-index: 1010;
  @include lib.defaultPagePaddingWidth;
  height: 68px;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px){
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__logo {
    color: white;
    text-decoration: none;
    transition: lib.$textTransition;
    font-size: 20px;
    line-height: 38px;
    font-weight: 700;
    &:hover {
      color: #eee
    }
  }
  &__commonMenu{
    display: block;
    min-width: max-content;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  &__mobileMenu{
    display: none;
    overflow: hidden;
    transition: lib.$defaultTransition;
    padding: 16px;
    width: calc(100% - 32px);
    @media screen and (max-width: 768px){
      display: inline-block;
    }
    &__open{
      height: auto;
    }
    &__closed{
      height: 0;
      padding: 0;
    }
  }
  &__mobileHeadline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    height: 68px;
    &__menuButton{
      display: none;
      @media screen and (max-width: 768px){
        display: inline-block;
      }
      $size: 24px;
      width: $size;
      height: $size;
      position: relative;
      span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        transition: lib.$defaultTransition;
      }
      &__open{
        span{
          &:nth-child(1){
            top: calc(30% - 1px);
          }
          &:nth-child(2){
            bottom: calc(30% - 1px);
          }
        }
      }
      &__close{
        span{
          &:nth-child(1){
            top: calc(50% - 1px);
            transform: rotate(45deg);
          }
          &:nth-child(2){
            bottom: calc(50% - 1px);
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

}

.linkContainer {
  display: inline-flex;
  width: 100%;
  @media screen and (max-width: 768px){
    flex-direction: column;
  }
  padding: 0;
  margin: 0;
  gap: 1rem;
  &__item {
    display: inline;
    &__divider{
      display: inline-block;
      width: 1px;
      height: 67%;
      background-color: #757575;
      @media screen and (max-width: 768px){
        height: 1px;
        width: 1.5rem;
      }
    }
    &__link {
      @extend .link;
      color: white;
      &:hover{
        color: #eee;
      }
    }
  }
}