@use '../../../styles/layout/lib';
@use '../../../styles/layout/button';
@use '../../../styles/layout/link';
@use '../../../styles/layout/input';

.footer {
  display: flex;
  width: 100vw;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: lib.$footerText;
  h3{
    color: white;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 240px);
    padding: 45px 120px;
    @media screen and (max-width: 768px){
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
      width: calc(100% - 120px);
      padding: 30px 60px;
    }
    @media screen and (max-width: 425px){
      width: calc(100% - 16px);
      padding: 15px 8px;
      gap: 15px;
    }
    flex: 1;
    background-color: lib.$footerMain;
    &__contactInfo {
      width: 40%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
        //width: calc(40% - 120px);
      //@media screen and (max-width: 768px){
      //  width: calc(40% - 60px);
      //}
      //@media screen and (max-width: 425px){
      //  width: calc(40% - 8px);
      //}
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      &__socialMedia {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        //gap: .5rem;
        &__item {
          display: flex;
          flex: 1;
          a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .5rem;
          }
          &__icon{
            $size: 24px;
            width: $size;
            height: $size;
          }
        }
      }
    }
    &__contactForm {
      position: relative;
      width: calc(60% - 60px);
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      //width: calc(60% - 120px);
      //@media screen and (max-width: 768px){
      //  width: calc(60% - 60px);
      //}
      //@media screen and (max-width: 425px){
      //  width: calc(60% - 8px);
      //}
        &__field--name{
          @extend .input;
          float: left;
          width: calc(50% - 5px);
          margin: 0 0 10px;
        }
        &__field--email{
          @extend .input;
          float: right;
          width: calc(50% - 5px);
          margin: 0 0 10px 10px;
        }
        &__field--message{
          @extend .input;
          float: left;
          width: 100%;
          margin-bottom: 10px;
          resize: vertical;
          height: 34px * 4;
        }
      &__errors{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: .5rem;
      }
      .formFieldError {
        position: relative;
        font-size: 12px;
        color: lib.$error;
        &--email{
          //left: calc(100% - 85px);
          //bottom: 10px;
        }
        &--message{
          //bottom: 0;
          //right: 0;
        }
        &:hover{
          cursor: default;
        }
        &::selection{
          background-color: transparent;
        }
      }
      &__submitButton {
        @extend .button;
        width: 100%;
        padding: 0;
        line-height: 34px;
      }
    }
  }
  &__bottom{
    font-size: 12px;
    background-color: lib.$footerBottom;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 240px);
    padding: 15px 120px;
    @media screen and (max-width: 768px){
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
      width: calc(100% - 120px);
      padding: 15px 60px;
    }
    @media screen and (max-width: 425px){
      width: calc(100% - 16px);
      padding: 15px 8px;
      gap: 15px;
    }
    flex: 1;
    &__links{
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      @media screen and (max-width: 353px){
        flex-direction: column;
      }
      &__item{
        display: inline-block;
        &__link{
          @extend .link;
          &:hover{
            color: #eee;
        }
        }
      }
    }
  }
}