@use "../../../styles/layout/lib";
@use "../../../styles/layout/link";
.browse{
  @include lib.withBottomPaddingWidth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1{
    text-align: center;
  }
  &__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 768px){
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
    }
    &__extra{
      width: 15%;
      @media screen and (max-width: 768px) {
        width: 100%;
        align-items: center;
      }
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;
      &__item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
          align-items: center;
        }
          gap: .5rem;
        h3{
          margin: 0 0 .5rem 0;
        }
        &__link{
          @extend .link;
          color: #212121;
          &:hover{
            color: lib.$myBlue !important;
          }
        }
      }
    }
    &__results{
      width: 85%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}